.card {
  background-color: #efe4ce;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  padding: 0 2vw 0 2vw;
}
.controlbtn {
  justify-content: end;
}
.title {
  font-family: "Cookie", cursive;
  font-size: 3.5vh;
  margin-top: 0;
  margin-bottom: 0;
}
