.card {
  border: 1px solid #f46d6d;
  border-radius: 5px;
  background-color: #ffffff;
  /* display: flex; */
  flex-direction: column;
  margin: auto;
  width: 70%;
}
.card > * {
  font-family: "Acme", sans-serif;
  text-align: center;
  display: flex;
}
.close {
  justify-content: end;
  align-items: end;
}
.text {
  font-size: 1.2rem;
}
.btns {
  justify-content: space-around;
  height: 2rem;
  padding-bottom: 0.5rem;
}
.btns > * {
  width: 40%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
}
.delete {
  background-color: #f46d6d;
  font-family: "Acme", sans-serif;
}
.cancel {
  background-color: #80cb95;
  font-family: "Acme", sans-serif;
}
